.nav-header {
	// background-image: url("img/banner-chapel.jpg");
	// background-size: cover;
	// background-position: center;
	background-color: $color__main;
	padding: 50px 25px;
}

.site-title {
	line-height: 1;
	margin-bottom: 25px;
}

.site-title a {
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

	&:hover {
		color: #f2f2f2;
	}
}

.site-logo {
	// float: left;
	// margin: -5px 15px 0 0;
	width: 60px;
}

.search-field {
	display: block;
	width: 100%;
	box-sizing: border-box !important;
}

.content-area {
	// max-width: $size__site-main;
	margin: 0 auto;
}

.site-main {
	padding: 0 50px;
}


.site-footer {
	background-color: $color__main;
	height: 200px;
	margin-top: 3em;
	border-top: 4px solid $color__highlight;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.3s ease;

	&.nav-open {
		left: 350px;
		right: -350px;
	}
}

@media all and (min-width: $size__site-main) {
	.site-footer {
		left: 350px;
	}
}

.to-top {
	text-align: center;
	background-color: $color__highlight;
	width: 100px;
	padding: 5px;
	margin: -15px auto 0;
}

.to-top a {
	color: white;
	font-weight: bold;

	&:hover {
		color: #f2f2f2;
	}
}

.site-info {
	max-width: 900px;
	margin: 1em auto 0;
	text-align: center;

	.affiliates {
		margin: 0 auto;
		max-width: 580px;

		img {
			margin: 0.5em;
		}
	}

	.site-info__specific {
		margin: 0 auto;
		max-width: 580px;
		color: white;

		p {
			margin: 0 0 1em;
		}
	}
}
