h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $color__text-headings;
	margin-bottom: 0.2em;
}
h1, h2, h3 {
	font-family: $font__display;
}
h4, h5, h6 {
	font-family: $font__main;
}
h1 {
	@include font-size(3.75);
	line-height: 1;
	margin-bottom: 0.2em;
}
h2 {
	@include font-size(2.25);
	line-height: 1;
}
h3 {
	@include font-size(1.5);
	line-height: 1;
}

.logo-heading {
	min-height: 50px;
	height: auto;
	color: $color__highlight;
	border-bottom: 2px solid $color__highlight;
	background-image: url("img/logo-heading.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	padding: 10px 0 3px 60px;
	border-radius: 0 0 0 3px;
}
